<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HQ.Backups.WsNotificacionBackupSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://go.comercializadora-s3.com:8022/hq.backups.awsnotificacionbackup.aspx"
                binding="basicHttpBinding" bindingConfiguration="HQ.Backups.WsNotificacionBackupSoapBinding"
                contract="ServiceReference1.HQBackupsWsNotificacionBackupSoapPort"
                name="HQ.Backups.WsNotificacionBackupSoapPort" />
        </client>
    </system.serviceModel>
</configuration>