<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS3ComparationClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CS3ComparationClient.Properties.Settings>
            <setting name="DataSoruce" serializeAs="String">
                <value>DAIBERP</value>
            </setting>
            <setting name="Base" serializeAs="String">
                <value>PTributario</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>PruebaCShardP</value>
            </setting>
            <setting name="Contraseña" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Cliente" serializeAs="String">
                <value />
            </setting>
            <setting name="Producto" serializeAs="String">
                <value />
            </setting>
            <setting name="Instancia" serializeAs="String">
                <value />
            </setting>
            <setting name="WebServices" serializeAs="String">
                <value />
            </setting>
        </CS3ComparationClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HQ.BasesDatos.PrcClient_SetEstructurasSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CS3HQ.NetEnvironment/hq.basesdatos.aprcclient_setestructuras.aspx"
                binding="basicHttpBinding" bindingConfiguration="HQ.BasesDatos.PrcClient_SetEstructurasSoapBinding"
                contract="SetStruc.HQBasesDatosPrcClient_SetEstructurasSoapPort"
                name="HQ.BasesDatos.PrcClient_SetEstructurasSoapPort" />
        </client>
    </system.serviceModel>
</configuration>